<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Clasificación de Texto</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <h1>Clasificación de Texto</h1>

    <div class="image">
      <img src="imagen.png" alt="Imagen por defecto" />
    </div>

    <form id="text-form" enctype="multipart/form-data">
      <label for="texto">Introducir Texto:</label>
      <textarea id="texto" required></textarea>
      <input type="submit" value="Clasificar Texto" />
    </form>

    <form id="csv-form" enctype="multipart/form-data">
      <label for="archivo_csv">Subir un archivo CSV:</label>
      <input type="file" id="archivo_csv" accept=".csv" required />
      <input type="submit" value="Clasificar CSV" />
    </form>

    <div id="results" style="display: none">
      <h2>Resultados:</h2>
      <div id="result-list"></div>
    </div>

    <script>
      document
        .getElementById("text-form")
        .addEventListener("submit", function (e) {
          e.preventDefault();
          const texto = document.getElementById("texto").value;
          fetch("http://127.0.0.1:8000/predict", {
            method: "POST",
            body: new URLSearchParams({ texto: texto }),
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              document.getElementById("results").style.display = "block";
              const resultDiv = document.createElement("div");
              resultDiv.innerHTML = `<p>${data.result}</p>`;
              document.getElementById("result-list").appendChild(resultDiv);
            });
        });

      document
        .getElementById("csv-form")
        .addEventListener("submit", function (e) {
          e.preventDefault();

          //var myHeaders = new Headers();
          //myHeaders.append("Content-Type", "text/csv");

          const formData = new FormData();
          formData.append(
            "file",
            document.getElementById("archivo_csv").files[0]
          );

          console.log(document.getElementById("archivo_csv").files[0]);

          var requestOptions = {
            method: "POST",
            body: formData,
            redirect: "follow",
          };

          fetch("http://localhost:8000/predict", requestOptions)
            .then((response) => {
              if (!response.ok) {
                throw new Error(`HTTP error! Status: ${response.status}`);
              }
              return response.blob();
            })
            .then((blob) => {
              const url = URL.createObjectURL(blob);

              // Create a link and trigger the download
              const a = document.createElement("a");
              a.href = url;
              a.download = "resultados_clasificados.csv";
              a.click();

              // Clean up: revoke the URL
              URL.revokeObjectURL(url);
            })
            .catch((error) => {
              console.error("Error during file download:", error);
            });
        });
    </script>
  </body>
</html>
